div.navigation > a {
    color: white;
    font-size: 120%;
    background-color: #555555;
    font-family: monospace;
    text-decoration: none;
    display: inline-block;
    min-width: 150px;
    }
.verticalLine {
    border-left:thin solid rgb(221, 221, 221);
}  
input[type="radio"] {
  display: none;
}
  
label {
  color: grey;
}
  
.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}
  
label:hover,
label:hover ~ label {
  color: black;
}
  
input[type="radio"]:checked ~ label {
  color: black;
}
img.botones{
  border-radius:10px;
  height:44px;
}
img.photo-user{
  height:70px;
  width:70px;
  border-radius:50%;
}
img.fotoUser{
  height:auto;
  width:70px;
  border-radius:5%;
}
img.img-ini{
  height:auto;
  width:650px;
}
img.img-det{
  height:auto;
  width:700px;
}
img.img-mod{
  height:auto;
  width:600px;
}
img.img-perf{
  width: 350px;
  height: 300px;
}
img.img-cat{
  height:175px;
  width:280px;
}
img.img-top{
  height:125px;
  width:125px;
}